apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tejas-nginx
  name: tejas-nginx
  namespace: webapps
spec:
  replicas: 5
  selector:
    matchLabels:
      app: tejas-nginx
  template:
    metadata:
      labels:
        app: tejas-nginx
    spec:
      containers:
      - image: nginx
        name: nginx
