apiVersion: v1
kind: Service
metadata:
  labels:
    app: tejas-nginx
  name: tejas-nginx-svc
  namespace: webapps
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: tejas-nginx
  type: ClusterIP
